<h2>Superheros of Rubytice League!</h2>
<ul class="heros">
<% @superheros.each do |hero| %>
	<li class="heros"><%= link_to hero.name.split.map(&:capitalize).join(' '), superhero_path(hero) %></li>
<% end %>
<%= link_to "New Hero", new_superhero_path %>
</ul>